.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* centers the items vertically */
  height: 100vh;
  position: relative;
}
.navi-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.customButton {
    display: block;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.weather-container {
  width: 450px;  /* Adjust as needed */
  padding: 50px;  /* Adjust as needed */
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: rgba(52,52,52,.7);
  margin-left: 100px;
  z-index: 1;
  position: absolute;
  bottom: 40%;
  color: white;
  line-height: 1.5;
}

.customButton
{
  background-color: rgba(52,52,52,.7);
}
.city-buttons {
  position: absolute;
  top: 50%;
  
  left: 0;
  transform: translateY(-50%); /* centers the buttons vertically */

}
h1
{
  text-decoration-line: underline;
  text-underline-position: under;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
